each result, i in yelp_results
	div.row(value=result._id)
		h2 #{result.name}
		img(src="#{result.image_url}", id="business-pic")
		a(href="#{result.business_url}", target="_blank") Go to Yelp Business
		img(src="#{result.rating_img_url}", id="rating-pic")
		| #{result.snippet_text}

