each result, i in yelp_results
	div.row(value=result._id)
		h2 #{result.name}
		img(src="#{result.image_url}", id="business-pic")
		a(href="#{result.business_url}", target="_blank") Go to Yelp Business
		img(src="#{result.rating_img_url}", id="rating-pic")
		| #{result.snippet_text}
		form(name="save-to-group", action="/yelp/save", method="post")
			input(type="submit", value="Save to Group")
		| Number of votes: #{result.num_group_votes}
		form(name="thumbs-up", action="/yelp/"+ result._id + "/vote-up", method="post")
			input(type="submit", value="Vote Up")
		form(name="thumbs-down", action="/yelp/" + result._id + "/vote-down", method="post")
			input(type="submit", value="Vote Down")

