extends layout 

block content
	div.span4.offset1
		h1(id="candidate-result-title") Some Candidate Results
		h4 Save your faves to the group for everyone to vote on

	
	div.span8
		each result, i in yelp_results
			div.row(value=result._id)
				h2 #{result.name}
				img(src="#{result.image_url}", id="business-pic")
				a(href="#{result.business_url}", target="_blank", id="yelp-business-link") Go to Yelp Page
				br
				img(src="#{result.rating_img_url}", id="rating-pic")
				br
				| #{result.snippet_text}
				br
				form(name="save-to-group", action="/room/" + "#{curr_room}" + "/" + result._id + "/save", method="post")
					button.btn(type="submit")
						i.icon-plus
						|  Save to Group
		